.durch {
	font-family: "Times New Roman", Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color:Lime;
}
.archi {
	font-family: "Times New Roman", Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color:Green;
}
.dabei {
	font-family: "Times New Roman", Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color:#FF8040;
}
.nicht {
	font-family: "Times New Roman", Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color:Red;
}