#head {
	position:fixed;
	top: 0px;
	left: 42px;
	padding: 0px;
	font-size: small;
	background-color:Black;
}

#foot {
	font-family: Arial, Helvectica, serif;
	position:fixed;
	bottom: 0px;
	right:5px;
	left:5px;
	padding: 0px;
	font-size: small;
	background-color:Black;
}

#navt {
	position:fixed;
	top:60px;
	right:5px;
	left:5px;
	padding: 0px;
	font-size: small;
	background-color:Black;
}

#navl {
	position:fixed;
	top: 150px;
	left: 42px;
	padding:1px;
	font-size: small;
}
#navr {
	position:fixed;
	top: 150px;
	right: 42px;
	padding: 0px;
	font-size: small;
}

.tr_1 {
	font-family: Arial, Helvectica, serif;
	font-style:normal;
	font-size: medium;
	text-align:center;
	background-color:Silver;
	color:Black;
	font-weight:bold;
}
.tr_2 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	background-color:Black;
	color: #d2d2d2;
}
.tr_3 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	background-color: #2f2f2f;
	color: #d2d2d2;
}
.sort {
	font-family: Arial, Helvectica, serif;
	font-style:normal;
	font-size: medium;
	text-align:center;
	background-color:Silver;
	color:Black;
	font-weight:italic;
}

.nav1 {
	font-family: Arial, Helvectica, serif;
	font-style:normal;
	font-size: medium;
	text-align:center;
	background-color:Silver;
	color:Black;
	font-weight:bold;
}
.nav2 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color: #d2d2d2;
}
.nav3 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color: Gray;
	text-decoration: line-through;
}
