#head {
	text-align: center;
	position:fixed;	
	border: 0;
	right:0px;
	left:0px;
	top: 0px;
	padding: 0px;
	font-size: small;
	background-color:Black;
	z-index: 1;
}

#foot {
	font-family: Arial, Helvectica, serif;
	position:fixed;
	border: 0;
	bottom: 0px;
	right:0px;
	left:0px;
	padding: 0px;
	font-size: small;
	background-color:silver;	
	z-index: 2;
}

#lgnd {
	position:fixed;
	top: 180px;
	right: 90px;
	padding:1px;
	font-size: small;
}
#srch {
	position:fixed;
	top: 90px;
	right: 10px;
	padding: 1px;
	font-size: small;
}
#navt {
	position:fixed;
	top:60px;
	right:5px;
	left:5px;
	padding: 0px;
	font-size: small;
	background-color:Black;
}
#navl {
	position:fixed;
	top: 150px;
	left: 42px;
	padding:1px;
	font-size: small;
}

.tr_1 {
	font-family: Arial, Helvectica, serif;
	font-style:normal;
	font-size: medium;
	text-align:center;
	background-color:Silver;
	color:Black;
	font-weight:bold;
	opacity: 0.7;
}
.tr_2 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	background-color:Black;
	color: #d2d2d2;
	opacity: 0.7;
}
.tr_3 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	background-color: #2f2f2f;
	color: #d2d2d2;
	opacity: 0.7;
}
.sort {
	font-family: Arial, Helvectica, serif;
	font-style:normal;
	font-size: medium;
	text-align:center;
	background-color:Silver;
	color:Black;
	font-weight:italic;
}

.nav1 {
	font-family: Arial, Helvectica, serif;
	font-style:normal;
	font-size: medium;
	text-align:center;
	background-color:Silver;
	color:Black;
	font-weight:bold;
}
.nav2 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color: #d2d2d2;
}
.nav3 {
	font-family: Arial, Helvectica, serif;
	font-style: normal;
	font-size: medium;
	text-align:left;
	background-color:Black;
	color: Gray;
	text-decoration: line-through;
}
